* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos base */

/* estilos generales */

body {
    font-family: 'montserrat', sans-serif;
    width: 100vw;
    /* background-color: #1f1430; prueba de color violeta  */
    background-color: #262532;
    font-size: 1rem;
}

/* termina estilos generales */

/* centralizado de objetos general (siempre esta clase primero para poder ser sobreescrita) */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* termina centralizado */

/* dimensionado general */

.container {
    width: 100%;
}

.nav-bar {
    /* display none porque no se ve en pantallas chicas */
    display: none;
}

/* termina dimesionado general */

/* dimensionado de container hi y color de letra general */

.hi-container {
    width: 100vw;
    height: 100vh;  
    justify-content: space-between;
    color: #FFF;
}

/* termina dimensionado de container hi y color de letra general */

/* dimensionado de contenido boton y letras intro de container hi */

.hi-subcontainer {
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

.hi-title-intro{
    font-size: 2em;
    color: #DDD;
}

.hi-title {
    /* estilos de mi nombre */
    font-size: 3em;
    color: #FF5600;
    margin: 15px;
}

.hi-title-description {
    font-size: 1em;
    color: #DDD;
    font-weight: 400;
    padding: 10px;
}

.what-i-do {
    /* estilos de boton */
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    color: #FFF;
    background-color: #ee5500;
    box-shadow: 0px 0px 10px rgb(255, 124, 30);
    margin-top: 50px;
}

.what-i-do a {
    /* estilos de la letra de boton */
    text-decoration: none;
    color: #FFF;
}

.hi-icon img {
    /* estilos de imagen de hi container */
    width: 100%;
}

/* termina dimensionado de contenido boton y letras intro de container hi */

/* estilos container knowledge */

.knowledge-container {
    /* estilos generales */
    color: #EEE;
    height: 140vh;
    width: 100%;
    flex-direction: column;
    background-color: #343342;
}

.knowledge-title {
    /* estilos de titulo */
    font-size: 2.5em;
    margin: 25px 30px 0px 30px;
    text-align: center;
}

.knowledge-description {
    width: 100%;
    font-size: .9em;
    text-align: center;
    padding: 0px 25px;
    margin: 20px 0px;
}

.program-container {
    /* estilos del contenedor de programas  */
    flex-wrap: wrap; /* wrap para que se formen mas de una fila */
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.program {
    /* estilos generales del programa que uso */
    background-color: rgb(238, 238, 238, 0.4);
    height: 140px;
    width: 140px;
    margin: 10px;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #191921;
}

.program:hover {
    /* estilos cuando hago hover en el programa */
    background-color: rgb(238, 238, 238, 0.7);
    border: 2px solid #FFF;
    border-radius: 10px;
}

.program i {
    /* estilos del icono del programa */
    font-size: 5em;
    margin: 10px;
}

.program i:hover {
    /* estilos cuando hago hover en el icono del programa */
    font-size: 5.2em;
}

/* termina estilos de container knowledge */

/* dimensionado de quote */

.quote-container {
    /* estilos generales en el container quote */
    background-color: #ee5500;
    height: 500px;
    width: 100%;
    padding: 50px;
    color: #333;
}

.quote-simbol {
    /* estilos del icono de cita */
    font-size: 9em;
}

.quote-text {
    margin: 30px 10px;
    text-align: center;
    font-size: 1.1em;
}

/* termina dimensionado de quote */

/* dimensionado de proyects */

.proyects-container {
    width: 100%;
}

.my-proyects-title {
    /* estilo titulo */
    color: #ddd;
    font-size: 2.5em;
    margin: 40px;
    text-align: center;
}

.proyect {
    /* estilo del proyect general */
    border: 1px solid #DDD;
    border-radius: 15px;
    width: 90%;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.proyect:hover {
    border: 2px solid #FFF;
}

.proyect-image img {
    /* estilo de imagen del proyecto */
    width: 100%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.proyect-title {
    /* estilo titulo del proyecto */
    color: #eee;
    font-size: 1.2em;
    font-weight: 400;
}

/* termina dimensionado de proyects */

/* dimensionado de contacto */

.contact-container {
    /* estilos en contenedor de contactos general (contact y write) */
    width: 90%;
    padding: 10px 20px 10px 10px;
    color: #cccccc;
    text-align: left;
    margin-bottom: 50px;
}

.contact-me-subcontainer {
    /* estilos generales de contactame */
    width: 100%;
    height: 100px;
    flex-wrap: wrap; /* agrego wrap para que se formen dos columnas */
    align-items: flex-start;
}

.contact-me-title {
    width: 100%;
    font-size: 2.3em;
    margin: 20px;
}

.contact-me-description {
    margin: 20px 20px 20px 0px;
}

.contact-me-media a{
    flex-direction: row;
    height: 30px; /* le di altura para el lugar que ocupa y me funcione el wrap */
    margin: 10px 10px 0px 0px;
}

.contact-me-media a h5:hover {
    color: #ee5500;
}

.contact-me-media i{
    color: #ee5500;
    margin: 50px 5px 50px 0px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 1.5em;
}

.contact-me-media i:hover {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.contact-me-media-text{
    color: #ccc;
    font-weight: 400;
}

.write-me {
    width: 100%;
}

.write-me-subcontainer {
    /* estilos de fomulario escribime */
    width: 100%;
    align-items: flex-start;
}

.write-me-title {
    font-size: 2.3em;
    width: 100%;
    margin: 30px;
}

.form-element {
    /* estilos de los elementos del formulario */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-element input, textarea {
    /* estilos del imput del formulario */
    margin: 10px 0px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1em;
    font-family: 'montserrat';
    border: none;
}

.form-element input:hover, textarea:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.7);
}

.form-element input:focus, textarea:focus{
    border: 1px solid #ee5500;
    border-radius: 20px;
}

.send {
    /* estilos del boton del formulario */
    background-color: #ee5500;
    border: none;
    padding: 12px 40px;
    border-radius: 40px;
    font-size: 1.1em;
    margin: 15px 0px;
    color: #fff;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    font-weight: 400;
}

.send:hover {
    background-color: #ee7700;
    box-shadow: none;
}

.send:active {
    background-color: #262532;
    border: 3px solid #ee5500;
    /* box-shadow: 0px 0px 20px rgb(255, 255, 255); */
    box-shadow: unset;
    color: #FFF;
}

/* termina dimensionado de contenedor de contacto */

/* dimensionado de footer */

.footer {
    background-color: #ee5500;
    height: 35vh;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: #fff;
    font-weight: 400;
}

.footer-links {
    /* display none porque no se ve en pantallas chicas */
    display: none;
}

.footer-media-links {
    /* estilo general orden de logos de media */
    flex-direction: row;
}

.footer-link a {
    /* estilos del logo */
    font-size: 1.2em;
    margin: 10px;
    height: 45px;
    width: 45px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: #ee5500;
}

.footer-link a:hover {
    background-color: #ee5500;
    border: 2px solid #FFF;
    box-shadow: unset;
    color: #FFF;
}

.love {
    /* estilos de con amor  */
    margin-top: 40px;
    box-shadow: 0px 0px 20px #fff;
    padding: 15px;
    border-radius: 25px;
}

.love-title {
    font-weight: 400;
}

/* termina estilos base */

/* empieza responsive */

@media (min-width:310px) and (max-width:375px), (max-height:700px) {
    body {
        font-size: .9rem;
    }
    .hi-title-description {
        text-align: center;
    }
    #knowledge-container  {
        height: 150vh;
    }
    .knowledge-container {
        font-size: .9em;
        padding-top: 20px;
    }
    .quote-simbol {
        font-size: 4em;
    }
}

@media (min-width:330px) and (max-width:375px), (min-height:810px) and (max-height:900px) {
    #knowledge-container {
        height: 110vh;
    }
}

@media (max-width:330px) {
    #knowledge-container {
        height: 130vh;
    }
}

@media (max-width:414px) {
    .hi-subcontainer {
        margin-bottom: 70px;
    }
    .knowledge-container {
        height: 100vh;
    }
    .contact-me-subcontainer {
        height: 200px;
    }
    .contact-me-media {
        flex-direction: column;
    }
    .quote-simbol {
        font-size: 6em;
    }
}

@media (min-width:415px) and (max-width:1024px) {
    body {
        font-size: 1.3rem;
    }
    #knowledge-container {
        padding: 20px;
        height: 80vh;
    }
    .program {
        height: 200px;
        width: 200px;
    }
    .proyects-container {
        display: flex;
        flex-wrap: wrap;
        height: 140vh;
        width: 100vw;
        margin: 0;
    }
    .proyect {
        text-align: center;
        height: 300px;
        width: 300px;
    }
    .footer-links {
        display: flex;
    }
    .footer-links a {
        color: #fff;
        font-size: .8em;
        margin: 30px 10px;
    }
}

@media (min-width: 1024px) {
    .hi-subcontainer {
        font-size: 1.5em;
    }
    #knowledge-container {
        height: 70vh;
    }
    .knowledge-description {
        font-size: 1.1em;
    }
    .program-container {
        height: 800px;
    }
    .program {
        margin-bottom: 35px;
        height: 280px;
        width: 280px;
    }
    .proyects-container {
        height: 140vh;
    }
    .proyect {
        text-align: center;
        height: 420px;
        width: 420px;
    }
    .footer-links {
        font-size: 1.3em;
    }
    .contact-container {
        background-color: rgba(255, 255, 255, 0.2);
        border: 0.1px solid #FFF;
        border-radius: 20px;
        flex-direction: row;
        color: #fff;
        height: 100%;
    }
    .contact-me {
        height: 700px;
        justify-content: flex-start;
        margin-left: 20px;
    }
    .contact-me-subcontainer {
        height: 30%;
    }
    .send {
        box-shadow: none;
    }
}