* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body {
    font-family: 'montserrat', sans-serif;
    width: 100%;
    /* background-color: #1f1430; */
    background-color: #262532;
    font-size: 1rem;
}

/* termina estilos generales */

/* centralizado de objetos general (siempre esta clase primero para poder ser sobreescrita) */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* termina centralizado */

/* dimensionado general */

.container {
    width: 100%;
}

.nav-bar {
    display: none;
}

/* termina dimesionado general */

/* dimensionado de container hi y color de letra general */

.hi-container {
    height: 100vh;  
    justify-content: space-between;
    color: #FFF;
}

/* termina dimensionado de container hi y color de letra general */

/* dimensionado de contenido boton y letras intro de container hi */

.hi-subcontainer {
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

.hi-title-intro{
    font-size: 2em;
    color: #DDD;
}

.hi-title {
    /* estilos de mi nombre */
    font-size: 3em;
    color: #FF5600;
    margin: 15px;
}

.hi-title-description {
    font-size: 1em;
    color: #DDD;
    font-weight: 400;
}

.what-i-do {
    /* estilos de boton */
    padding: 15px 50px;
    border: none;
    /* border: 1px solid #FFF; */
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    color: #FFF;
    background-color: #ee5500;
    box-shadow: 0px 0px 10px rgb(255, 124, 30);
    margin-top: 50px;
}

.what-i-do a {
    /* estilos de la letra de boton */
    text-decoration: none;
    color: #FFF;
}

.hi-icon img {
    /* estilos de imagen de hi container */
    width: 100%;
}

/* termina dimensionado de contenido boton y letras intro de container hi */

/* estilos container knowledge */

.knowledge-container {
    /* estilos generales */
    color: #EEE;
    height: 130vh;
    width: 100%;
    flex-direction: column;
    background-color: #343342;
}

.knowledge-title {
    /* estilos de titulo */
    font-size: 2.5em;
}

.knowledge-description {
    width: 70%;
    font-size: .9em;
    text-align: center;
    margin: 30px 0px;
}

.program-container {
    /* estilos del contenedor de programas  */
    flex-wrap: wrap; /* wrap para que se formen mas de una fila */
    width: 80%;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
}

.program {
    /* estilos generales del programa que uso */
    background-color: rgb(238, 238, 238, 0.4);
    height: 180px;
    width: 180px;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #191921;
}

.program:hover {
    /* estilos cuando hago hover en el programa */
    background-color: rgb(238, 238, 238, 0.7);
    height: 180px;
    width: 180px;
    border: 2px solid #FFF;
    border-radius: 10px;
    /* color: orangered; */
}

.program i {
    /* estilos del icono del programa */
    font-size: 5em;
    margin: 10px;
}

.program i:hover {
    /* estilos cuando hago hover en el icono del programa */
    font-size: 5.2em;
    /* color: orangered; */
}

/* termina estilos de container knowledge */

/* dimensionado de quote */

.quote-container {
    /* estilos generales en el container quote */
    background-color: #ee5500;
    height: 500px;
    width: 100%;
    padding: 50px;
    color: #333;
    /* color: #ccc; */
}

.quote-simbol {
    /* estilos del icono de cita */
    font-size: 9em;
}

.quote-text {
    margin: 30px 10px;
    text-align: center;
    font-size: 1.1em;
}

/* termina dimensionado de quote */

.proyects-container {
    width: 100%;
}

.my-proyects-title {
    color: #ddd;
    font-size: 2.5em;
    margin: 40px;
}

.proyect {
    /* background-color: rgb(238, 238, 238, 0.4); */
    border: 1px solid #DDD;
    border-radius: 15px;
    width: 90%;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.proyect:hover {
    border: 2px solid #FFF;
}

.proyect-image img {
    width: 100%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.proyect-title {
    color: #eee;
    font-size: 1.2em;
    font-weight: 400;
}

.contact-container {
    width: 90%;
    /* color: #222;
    background-color: rgb(238, 238, 238, 0.4);
    border: 1px solid #DDD;
    border-radius: 15px; */
    padding: 10px 20px 10px 10px;
    color: #cccccc;
    text-align: left;
    margin-bottom: 50px;
}

.contact-me-subcontainer {
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contact-me-title {
    width: 100%;
    font-size: 2.3em;
    margin: 20px;
}

.contact-me-description {
    margin: 20px 20px 20px 0px;
}

.contact-me-media a{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin: 10px 0px;
}

.contact-me-media a h5:hover {
    color: #ee5500;
}

.contact-me-media i{
    color: #ee5500;
    margin: 50px 20px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 1.5em;
}

.contact-me-media i:hover {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.contact-me-media-text{
    color: #ccc;
    font-weight: 400;
}

.write-me {
    width: 100%;
}

.write-me-subcontainer {
    width: 100%;
    align-items: flex-start;
}

.write-me-title {
    font-size: 2.3em;
    width: 100%;
    margin: 30px;
}

.form-element {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-element input, textarea {
    margin: 10px 0px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1em;
    font-family: 'montserrat';
    border: none;
}

.form-element input:focus, textarea:focus{
    border: 1px solid #ee5500;
    border-radius: 20px;
}

.send {
    background-color: #ee5500;
    border: none;
    padding: 12px 40px;
    border-radius: 40px;
    font-size: 1.1em;
    margin: 15px 0px;
    color: #fff;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    font-weight: 400;
}

.send:hover {
    background-color: #ee7700;
    box-shadow: none;
}

.send:active {
    background-color: #262532;
    border: 3px solid #ee5500;
    /* box-shadow: 0px 0px 20px rgb(255, 255, 255); */
    box-shadow: unset;
    color: #FFF;
}

.footer {
    background-color: #ee5500;
    height: 35vh;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: #fff;
    font-weight: 400;
}

.footer-links {
    display: none;
}

.footer-media-links {
    flex-direction: row;
}

.footer-link a {
    font-size: 1.2em;
    margin: 10px;
    height: 45px;
    width: 45px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: #ee5500;
}

.footer-link a:hover {
    background-color: #ee5500;
    border: 2px solid #FFF;
    /* box-shadow: 0px 0px 20px rgb(255, 255, 255); */
    box-shadow: unset;
    color: #FFF;
}

.love {
    margin-top: 40px;
    box-shadow: 0px 0px 20px #fff;
    padding: 15px;
    border-radius: 25px;
}

.love-title {
    font-weight: 400;
}