* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    width: 100%;
    /* background-color: #1f1430; */
    background-color: #262532;
    font-size: 1rem;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
}

.nav-bar {
    display: none;
}

.hi-container {
    height: 100vh;
    justify-content: space-between;
    color: #FFF;
}

.hi-subcontainer {
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

.hi-title-intro{
    font-size: 2em;
    color: #DDD;
}

.hi-title {
    font-size: 3em;
    color: #FF5600;
    margin: 15px;
}

.hi-title-description {
    font-size: 1em;
    color: #DDD;
    font-weight: 400;
}

.what-i-do {
    padding: 15px 50px;
    border: none;
    /* border: 1px solid #FFF; */
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    color: #FFF;
    background-color: #ee5500;
    box-shadow: 0px 0px 10px rgb(255, 124, 30);
    margin-top: 50px;
}

.what-i-do a {
    text-decoration: none;
    color: #FFF;
}

.hi-icon img {
    width: 100%;
}

.knowledge-container {
    color: #EEE;
    height: 150vh;
    width: 100%;
    flex-direction: column;
    background-color: #343342;
}

.knowledge-title {
    font-size: 2.5em;
}

.knowledge-description {
    width: 70%;
    font-size: .9em;
    text-align: center;
    margin: 30px;
}

.program-container {
    flex-wrap: wrap;
    width: 80%;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
}

.program {
    background-color: rgb(238, 238, 238, 0.4);
    height: 180px;
    width: 180px;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #191921;
}

.program:hover {
    background-color: rgb(238, 238, 238, 0.7);
    height: 180px;
    width: 180px;
    border: 2px solid #FFF;
    border-radius: 10px;
    /* color: orangered; */
}

.program i {
    font-size: 5em;
    margin: 10px;
}

.program i:hover {
    font-size: 5.2em;
    /* color: orangered; */
}

.quote-container {
    background-color: #ee5500;
    height: 500px;
    width: 100%;
    padding: 50px;
    color: #333;
    /* color: #ccc; */
}

.quote-simbol {
    font-size: 9em;
    margin: 20px;
}

.quote-text {
    margin: 30px 10px;
    text-align: center;
    font-size: 1.1em;
}

.proyects-container {
    width: 100%;
}

.my-proyects-title {
    color: #ddd;
    font-size: 2.5em;
    margin: 40px;
}

.proyect {
    background-color: rgb(238, 238, 238, 0.4);
    border: 1px solid #DDD;
    border-radius: 15px;
    width: 90%;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.proyect-image img {
    width: 100%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.proyect-title {
    color: #eee;
    font-size: 1.2em;
    font-weight: 400;
}